html, body {
  height: 100%;
}

.Grid {
  display: grid;
  margin: 0 10px;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 767px) {
  .Grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}