html, body {
  margin: 0;
  height: 100%;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}